{% extends "indexBoostrap.html" %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-sm-2 shadow p-2 rounded">
                <h3>Hello Bootstrap</h3>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos in, rerum optio delectus natus dicta fugit maxime veniam facilis sed.
            </div>
            <div class="col-sm-9 offset-1 shadow p-2 rounded">
                <!-- <h3>Hello Bootstrap</h3> -->
                <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel qui nulla architecto debitis facilis modi nam in optio aliquam natus! -->
                {% for shop in shops %}
                    <!-- <div class="row shadow p-2 rounded">
                        <article>
                            <div class="media-body">
                                <h5>{{shop.name}}</h5>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa laborum iste vitae ad beatae odio magni fugit, dolorem ut quia iusto eligendi similique ipsam totam rerum autem molestias ex sint. Esse sed eveniet ut suscipit nemo, dolore dolores officiis deserunt.</p>
                            </div>
                        </article>
                    </div> -->
                    <div class="jumbotron">
                        <h1 class="display-3">{{shop.name}}</h1>
                        <p class="lead">Owner: {{shop.ownerProfile.first_name}} {{shop.ownerProfile.last_name}}</p>
                        <hr class="my-2">
                        <p>More info</p>
                        <p class="lead">
                            <a class="btn btn-primary btn-lg" href="{% url 'shop-detail' shop.pk %}" role="button">Detail</a>
                        </p>
                    </div>
                {% endfor %}                
            </div>
        </div>
        <h3>Hello Bootstrap</h3>
        <div class="btn-group" role="group" aria-label="">
            <button type="button" class="btn btn-primary ">Lorem, ipsum.</button>
            <button type="button" class="btn btn-primary">Lorem, ipsum.</button>
            <button type="button" class="btn btn-primary">Lorem, ipsum.</button>
        </div>
    </div>
{% endblock content %}