{% extends "indexBoostrap.html" %}

{% block content %}
    <div class="container mt-4 ">

        <div class="row ">
            <div class="col-sm-2 mb-2">
                <div class="row ">
                    <div class="col shadow-sm p-2 rounded">
                        <h3>Hello Bootstrap</h3>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos in, rerum optio delectus natus dicta fugit maxime veniam facilis sed.
                    </div>
                </div>      
            </div>

            <div class="col offset-sm-1 rounded shadow-sm">
                <div class="album py-5 ">
                    <div class="container">
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                            {% for shop in shops %}
                                <!-- <div class="jumbotron ">
                                    <h1 class="display-3">{{shop.name}}</h1>
                                    <p class="lead">Owner: {{shop.ownerProfile.first_name}} {{shop.ownerProfile.last_name}}</p>
                                    <hr class="my-2">
                                    <p>More info</p>
                                    <p class="lead">
                                        <a class="btn btn-primary btn-lg" href="{% url 'shop-detail' shop.pk %}" role="button">Detail</a>
                                    </p>
                                </div> -->
                                <div class="col rounded">
                                    <!-- <div class="card bg-secondary-dark  text-light shadow-sm" style="background-color: #272829;"> -->
                                    <div class="card h-100  shadow-sm" >
                                        <!-- <div class="card-header ">
                                            <h5 class="card-title">{{shop.name}}</h5>
                                        </div> -->
                                        <img class="bg-dark card-img-top" src="{{shop.image.url}}">
                                        <div class="card-body ">
                                            <h4 class="card-title">{{shop.name}}</h4>
                                            <p class="card-text">{{shop.description|truncatewords:8}}</p>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="btn-group">
                                                    <a class="btn btn-dark  btn-sm" role="button" href="{% url 'shop-detail' shop.pk %}">View</a>
                                                    <a class="btn  btn-outline-secondary btn-sm" role="button" href="#">Owner: {{shop.ownerProfile.last_name}}</a>
                                                </div>
                                                <small class="text-muted">future tags</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}    
                        </div>
                    </div>
                </div>
                            
            </div>
        </div>
        <!-- <h3>Hello Bootstrap</h3>
        <div class="btn-group" role="group" aria-label="">
            <button type="button" class="btn btn-primary ">Lorem, ipsum.</button>
            <button type="button" class="btn btn-primary">Lorem, ipsum.</button>
            <button type="button" class="btn btn-primary">Lorem, ipsum.</button>
        </div> -->
    </div>
{% endblock content %}