<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/> 
    <title>Document</title>
 
</head>
<body>
    <h3>Главная страница</h3>
    <div>
        Test text for index4
    </div>
    <div>
        Sixty charters transferring land, perhaps as an attempt to buy support or to reward his favourites. In 957 the kingdom was divided between Eadwig, south of the
    </div>
</body>
</html>