/* body {
    background-color: #f5f5f5;
    color: #333333;
    margin-top: 0;
  } */

/* 
.rounded-bottom {
    border-bottom-right-radius: .95rem!important;
    border-bottom-left-radius: .95rem!important;
} */


/* .col-sm-9, .col-sm-10, .col-sm-12, .col-md-9, .col {
  background-color: #ffffff;
} */


.img-thumbnail {
  height: 30px;
  width: 30px;
  max-width: 100%;
  max-height: 100%;
}